{% extends 'admin/master.html' %}

{% block body %}
<div style="padding: 20px;">
    <hr>
    <div style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 8px; padding: 20px; max-width: 250px; text-align: center; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        <h4 style="margin-top: 0; color: #495057;">Total Slide Count</h4>
        
        <p style="font-size: 30px; font-weight: bold; color: #007bff; margin: 10px 0;">
            {{ slide_count }}
        </p>

    </div>
</div>
{% endblock %}